name: z
description: A new Flutter project.
version: 1.0.0+1

environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.5
  page_transition: ^2.0.9
  http: ^1.1.0
  google_fonts: ^5.1.0
  flutter_bloc: ^8.1.3
  font_awesome_flutter: ^10.5.0
  flutter_spinkit: ^5.2.0
  animated_text_kit: ^4.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
    
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/logo.png
    - assets/screenshots/
